@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {

    /* Background */
    --foreground-rgb: 160, 187, 233;
    --background-start-rgb: 50, 60, 80;
    --background-end-rgb: 202, 155, 194;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(31, 9, 96);
  background: -moz-radial-gradient(circle, rgba(31, 9, 96, 1) 0%, rgba(5, 5, 5, 1) 100%);
  background: -webkit-radial-gradient(circle, rgba(31, 9, 96, 1) 0%, rgba(5, 5, 5, 1) 100%);
  background: radial-gradient(circle, rgba(31, 9, 96, 1) 0%, rgba(5, 5, 5, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1f0960", endColorstr="#050505", GradientType=1);
}

/* NAVBAR */

.navbar-background {
  position: sticky;
  top: 0;
  background: linear-gradient(to right, var(--first-color) 1%, var(--second-color) 7%,
      var(--third-color) 50%, var(--fourth-color) 80%);
  backdrop-filter: blur(50%);
}

.backgroundDesplegable {
  background: rgb(0, 0, 0);
  background: -moz-radial-gradient(circle, rgba(0, 0, 0, 1) 7%, rgba(0, 0, 0, 1) 86%, rgba(99, 39, 183, 1) 89%);
  background: -webkit-radial-gradient(circle, rgba(0, 0, 0, 1) 7%, rgba(0, 0, 0, 1) 86%, rgba(99, 39, 183, 1) 89%);
  background: radial-gradient(circle, rgba(0, 0, 0, 1) 7%, rgba(0, 0, 0, 1) 86%, rgba(99, 39, 183, 1) 89%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#6327b7", GradientType=1);
}

.slide-in-tr {
  animation: slide-in-tr .6s cubic-bezier(.25, .46, .45, .94) both
}

@keyframes slide-in-tr {
  0% {
    transform: translateY(-1000px) translateX(1000px);
    opacity: 0
  }

  100% {
    transform: translateY(0) translateX(0);
    opacity: 1
  }
}

.navbar-blur {
  backdrop-filter: blur(5px);
}

/* HERO PAGE */


.bg-social-buttons {
  background: rgb(48, 14, 150);
  background: -moz-linear-gradient(270deg, rgba(48, 14, 150, 1) 5%, rgba(40, 12, 124, 1) 10%, rgba(31, 10, 93, 1) 15%, rgba(17, 5, 51, 1) 20%, rgba(48, 14, 150, 1) 45%, rgba(0, 0, 0, 1) 50%, rgba(48, 14, 150, 1) 55%, rgba(17, 5, 51, 1) 80%, rgba(31, 10, 93, 1) 85%, rgba(40, 12, 124, 1) 90%, rgba(48, 14, 150, 1) 95%);
  background: -webkit-linear-gradient(270deg, rgba(48, 14, 150, 1) 5%, rgba(40, 12, 124, 1) 10%, rgba(31, 10, 93, 1) 15%, rgba(17, 5, 51, 1) 20%, rgba(48, 14, 150, 1) 45%, rgba(0, 0, 0, 1) 50%, rgba(48, 14, 150, 1) 55%, rgba(17, 5, 51, 1) 80%, rgba(31, 10, 93, 1) 85%, rgba(40, 12, 124, 1) 90%, rgba(48, 14, 150, 1) 95%);
  background: linear-gradient(270deg, rgba(48, 14, 150, 1) 5%, rgba(40, 12, 124, 1) 10%, rgba(31, 10, 93, 1) 15%, rgba(17, 5, 51, 1) 20%, rgba(48, 14, 150, 1) 45%, rgba(0, 0, 0, 1) 50%, rgba(48, 14, 150, 1) 55%, rgba(17, 5, 51, 1) 80%, rgba(31, 10, 93, 1) 85%, rgba(40, 12, 124, 1) 90%, rgba(48, 14, 150, 1) 95%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#300e96", endColorstr="#300e96", GradientType=1);
}

.img-fp {
  clip-path: circle(50%);
}

.img-fp {
  transition: transform 0.5s ease;
  cursor: pointer;
}

.img-fp:hover {
  transform: translateY(-20px) scale(1.03) rotateX(-30deg);
}

.underline-animation {
  position: relative;
}

@keyframes underlineSlide {
  0% {
    width: 0;
    left: 0;
  }

  100% {
    width: 100%;
    left: 0;
  }
}

.underline-animation::after {
  content: '';
  display: block;
  position: absolute;
  /* Asegura el posicionamiento correcto del pseudo-elemento */
  margin: auto;
  height: 2px;
  width: 0;
  background: currentColor;
  transition: width 1s ease-in-out;
  bottom: -5px;
  left: 0;
}

.underline-animation:hover::after {
  animation: underlineSlide 1.0s forwards;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Education section */

.education-even {
  background: rgb(48, 14, 150);
  background: -moz-linear-gradient(160deg, rgba(48, 14, 150, 1) 5%, rgba(26, 8, 79, 1) 15%, rgba(18, 6, 54, 1) 25%, rgba(0, 0, 0, 1) 50%, rgba(18, 6, 54, 1) 75%, rgba(26, 8, 79, 1) 85%, rgba(48, 14, 150, 1) 95%);
  background: -webkit-linear-gradient(160deg, rgba(48, 14, 150, 1) 5%, rgba(26, 8, 79, 1) 15%, rgba(18, 6, 54, 1) 25%, rgba(0, 0, 0, 1) 50%, rgba(18, 6, 54, 1) 75%, rgba(26, 8, 79, 1) 85%, rgba(48, 14, 150, 1) 95%);
  background: linear-gradient(160deg, rgba(48, 14, 150, 1) 5%, rgba(26, 8, 79, 1) 15%, rgba(18, 6, 54, 1) 25%, rgba(0, 0, 0, 1) 50%, rgba(18, 6, 54, 1) 75%, rgba(26, 8, 79, 1) 85%, rgba(48, 14, 150, 1) 95%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#300e96", endColorstr="#300e96", GradientType=1);
}

.education-odd {
  background: rgb(48, 14, 150);
  background: -moz-linear-gradient(70deg, rgba(48, 14, 150, 1) 5%, rgba(26, 8, 79, 1) 15%, rgba(18, 6, 54, 1) 25%, rgba(0, 0, 0, 1) 50%, rgba(18, 6, 54, 1) 75%, rgba(26, 8, 79, 1) 85%, rgba(48, 14, 150, 1) 95%);
  background: -webkit-linear-gradient(70deg, rgba(48, 14, 150, 1) 5%, rgba(26, 8, 79, 1) 15%, rgba(18, 6, 54, 1) 25%, rgba(0, 0, 0, 1) 50%, rgba(18, 6, 54, 1) 75%, rgba(26, 8, 79, 1) 85%, rgba(48, 14, 150, 1) 95%);
  background: linear-gradient(70deg, rgba(48, 14, 150, 1) 5%, rgba(26, 8, 79, 1) 15%, rgba(18, 6, 54, 1) 25%, rgba(0, 0, 0, 1) 50%, rgba(18, 6, 54, 1) 75%, rgba(26, 8, 79, 1) 85%, rgba(48, 14, 150, 1) 95%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#300e96", endColorstr="#300e96", GradientType=1);
}

.education-logo-animation:hover {
  animation: spin 3s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.logo {
  filter: contrast(0.8) brightness(1.2);
}

/* Projects */

.bg-project-first {
  background: rgb(9, 3, 27);
  background: -moz-linear-gradient(30deg, rgba(9, 3, 27, 1) 20%, rgba(27, 10, 78, 1) 35%, rgba(40, 14, 115, 1) 40%, rgba(80, 26, 237, 1) 45%, rgba(48, 14, 150, 1) 50%, rgba(80, 26, 237, 1) 55%, rgba(40, 14, 115, 1) 60%, rgba(27, 10, 78, 1) 65%, rgba(9, 3, 27, 1) 80%);
  background: -webkit-linear-gradient(30deg, rgba(9, 3, 27, 1) 20%, rgba(27, 10, 78, 1) 35%, rgba(40, 14, 115, 1) 40%, rgba(80, 26, 237, 1) 45%, rgba(48, 14, 150, 1) 50%, rgba(80, 26, 237, 1) 55%, rgba(40, 14, 115, 1) 60%, rgba(27, 10, 78, 1) 65%, rgba(9, 3, 27, 1) 80%);
  background: linear-gradient(30deg, rgba(9, 3, 27, 1) 20%, rgba(27, 10, 78, 1) 35%, rgba(40, 14, 115, 1) 40%, rgba(80, 26, 237, 1) 45%, rgba(48, 14, 150, 1) 50%, rgba(80, 26, 237, 1) 55%, rgba(40, 14, 115, 1) 60%, rgba(27, 10, 78, 1) 65%, rgba(9, 3, 27, 1) 80%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#09031b", endColorstr="#09031b", GradientType=1);
}

.bg-project-middle {
  background: rgb(9, 3, 27);
  background: -moz-radial-gradient(circle, rgba(9, 3, 27, 1) 20%, rgba(27, 10, 78, 1) 35%, rgba(40, 14, 115, 1) 40%, rgba(80, 26, 237, 1) 45%, rgba(48, 14, 150, 1) 50%, rgba(80, 26, 237, 1) 55%, rgba(40, 14, 115, 1) 60%, rgba(27, 10, 78, 1) 65%, rgba(9, 3, 27, 1) 80%);
  background: -webkit-radial-gradient(circle, rgba(9, 3, 27, 1) 20%, rgba(27, 10, 78, 1) 35%, rgba(40, 14, 115, 1) 40%, rgba(80, 26, 237, 1) 45%, rgba(48, 14, 150, 1) 50%, rgba(80, 26, 237, 1) 55%, rgba(40, 14, 115, 1) 60%, rgba(27, 10, 78, 1) 65%, rgba(9, 3, 27, 1) 80%);
  background: radial-gradient(circle, rgba(9, 3, 27, 1) 20%, rgba(27, 10, 78, 1) 35%, rgba(40, 14, 115, 1) 40%, rgba(80, 26, 237, 1) 45%, rgba(48, 14, 150, 1) 50%, rgba(80, 26, 237, 1) 55%, rgba(40, 14, 115, 1) 60%, rgba(27, 10, 78, 1) 65%, rgba(9, 3, 27, 1) 80%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#09031b", endColorstr="#09031b", GradientType=1);
}

.bg-project-end {
  background: rgb(9, 3, 27);
  background: -moz-linear-gradient(330deg, rgba(9, 3, 27, 1) 20%, rgba(27, 10, 78, 1) 35%, rgba(40, 14, 115, 1) 40%, rgba(80, 26, 237, 1) 45%, rgba(48, 14, 150, 1) 50%, rgba(80, 26, 237, 1) 55%, rgba(40, 14, 115, 1) 60%, rgba(27, 10, 78, 1) 65%, rgba(9, 3, 27, 1) 80%);
  background: -webkit-linear-gradient(330deg, rgba(9, 3, 27, 1) 20%, rgba(27, 10, 78, 1) 35%, rgba(40, 14, 115, 1) 40%, rgba(80, 26, 237, 1) 45%, rgba(48, 14, 150, 1) 50%, rgba(80, 26, 237, 1) 55%, rgba(40, 14, 115, 1) 60%, rgba(27, 10, 78, 1) 65%, rgba(9, 3, 27, 1) 80%);
  background: linear-gradient(330deg, rgba(9, 3, 27, 1) 20%, rgba(27, 10, 78, 1) 35%, rgba(40, 14, 115, 1) 40%, rgba(80, 26, 237, 1) 45%, rgba(48, 14, 150, 1) 50%, rgba(80, 26, 237, 1) 55%, rgba(40, 14, 115, 1) 60%, rgba(27, 10, 78, 1) 65%, rgba(9, 3, 27, 1) 80%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#09031b", endColorstr="#09031b", GradientType=1);
}

.bg-project-button {
  background: rgb(48, 14, 150);
  background: -moz-radial-gradient(circle, rgba(48, 14, 150, 1) 20%, rgba(9, 3, 27, 1) 35%, rgba(9, 3, 27, 1) 47%, rgba(9, 3, 27, 1) 60%, rgba(48, 14, 150, 1) 80%);
  background: -webkit-radial-gradient(circle, rgba(48, 14, 150, 1) 20%, rgba(9, 3, 27, 1) 35%, rgba(9, 3, 27, 1) 47%, rgba(9, 3, 27, 1) 60%, rgba(48, 14, 150, 1) 80%);
  background: radial-gradient(circle, rgba(48, 14, 150, 1) 20%, rgba(9, 3, 27, 1) 35%, rgba(9, 3, 27, 1) 47%, rgba(9, 3, 27, 1) 60%, rgba(48, 14, 150, 1) 80%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#300e96", endColorstr="#300e96", GradientType=1);
}

.bg-input {
  background: rgb(48, 14, 150);
  background: -moz-linear-gradient(180deg, rgba(48, 14, 150, 1) 5%, rgba(40, 12, 124, 1) 10%, rgba(31, 10, 93, 1) 15%, rgba(0, 0, 0, 1) 50%, rgba(31, 10, 93, 1) 85%, rgba(40, 12, 124, 1) 90%, rgba(48, 14, 150, 1) 95%);
  background: -webkit-linear-gradient(180deg, rgba(48, 14, 150, 1) 5%, rgba(40, 12, 124, 1) 10%, rgba(31, 10, 93, 1) 15%, rgba(0, 0, 0, 1) 50%, rgba(31, 10, 93, 1) 85%, rgba(40, 12, 124, 1) 90%, rgba(48, 14, 150, 1) 95%);
  background: linear-gradient(180deg, rgba(48, 14, 150, 1) 5%, rgba(40, 12, 124, 1) 10%, rgba(31, 10, 93, 1) 15%, rgba(0, 0, 0, 1) 50%, rgba(31, 10, 93, 1) 85%, rgba(40, 12, 124, 1) 90%, rgba(48, 14, 150, 1) 95%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#300e96", endColorstr="#300e96", GradientType=1);
}

.bg-submit {
  background: rgb(48, 14, 150);
  background: -moz-linear-gradient(90deg, rgba(48, 14, 150, 1) 5%, rgba(40, 12, 124, 1) 10%, rgba(31, 10, 93, 1) 15%, rgba(0, 0, 0, 1) 50%, rgba(31, 10, 93, 1) 85%, rgba(40, 12, 124, 1) 90%, rgba(48, 14, 150, 1) 95%);
  background: -webkit-linear-gradient(90deg, rgba(48, 14, 150, 1) 5%, rgba(40, 12, 124, 1) 10%, rgba(31, 10, 93, 1) 15%, rgba(0, 0, 0, 1) 50%, rgba(31, 10, 93, 1) 85%, rgba(40, 12, 124, 1) 90%, rgba(48, 14, 150, 1) 95%);
  background: linear-gradient(90deg, rgba(48, 14, 150, 1) 5%, rgba(40, 12, 124, 1) 10%, rgba(31, 10, 93, 1) 15%, rgba(0, 0, 0, 1) 50%, rgba(31, 10, 93, 1) 85%, rgba(40, 12, 124, 1) 90%, rgba(48, 14, 150, 1) 95%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#300e96", endColorstr="#300e96", GradientType=1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#300e96", endColorstr="#300e96", GradientType=1);
}

/* projects details */

.bg-cards-projects-details {
  background: rgb(48, 14, 150);
  background: -moz-linear-gradient(90deg, rgba(48, 14, 150, 1) 5%, rgba(48, 14, 150, 1) 10%, rgba(48, 14, 150, 1) 15%, rgba(27, 8, 83, 1) 20%, rgba(16, 5, 47, 1) 25%, rgba(8, 3, 24, 1) 30%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 76%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 1) 83%, rgba(0, 0, 0, 1) 87%, rgba(48, 14, 150, 1) 91%, rgba(48, 14, 150, 1) 95%, rgba(0, 0, 0, 1) 98%);
  background: -webkit-linear-gradient(90deg, rgba(48, 14, 150, 1) 5%, rgba(48, 14, 150, 1) 10%, rgba(48, 14, 150, 1) 15%, rgba(27, 8, 83, 1) 20%, rgba(16, 5, 47, 1) 25%, rgba(8, 3, 24, 1) 30%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 76%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 1) 83%, rgba(0, 0, 0, 1) 87%, rgba(48, 14, 150, 1) 91%, rgba(48, 14, 150, 1) 95%, rgba(0, 0, 0, 1) 98%);
  background: linear-gradient(90deg, rgba(48, 14, 150, 1) 5%, rgba(48, 14, 150, 1) 10%, rgba(48, 14, 150, 1) 15%, rgba(27, 8, 83, 1) 20%, rgba(16, 5, 47, 1) 25%, rgba(8, 3, 24, 1) 30%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 76%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 1) 83%, rgba(0, 0, 0, 1) 87%, rgba(48, 14, 150, 1) 91%, rgba(48, 14, 150, 1) 95%, rgba(0, 0, 0, 1) 98%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#300e96", endColorstr="#000000", GradientType=1);
}

.slit-in-vertical{-webkit-animation:slit-in-vertical .45s ease-out both;animation:slit-in-vertical .45s ease-out both}
@-webkit-keyframes slit-in-vertical{0%{-webkit-transform:translateZ(-800px) rotateY(90deg);transform:translateZ(-800px) rotateY(90deg);opacity:0}54%{-webkit-transform:translateZ(-160px) rotateY(87deg);transform:translateZ(-160px) rotateY(87deg);opacity:1}100%{-webkit-transform:translateZ(0) rotateY(0);transform:translateZ(0) rotateY(0)}}@keyframes slit-in-vertical{0%{-webkit-transform:translateZ(-800px) rotateY(90deg);transform:translateZ(-800px) rotateY(90deg);opacity:0}54%{-webkit-transform:translateZ(-160px) rotateY(87deg);transform:translateZ(-160px) rotateY(87deg);opacity:1}100%{-webkit-transform:translateZ(0) rotateY(0);transform:translateZ(0) rotateY(0)}}

.flip-horizontal-bottom{-webkit-animation:flip-horizontal-bottom .4s cubic-bezier(.455,.03,.515,.955) both;animation:flip-horizontal-bottom .4s cubic-bezier(.455,.03,.515,.955) both}
@-webkit-keyframes flip-horizontal-bottom{0%{-webkit-transform:rotateX(0);transform:rotateX(0)}100%{-webkit-transform:rotateX(-180deg);transform:rotateX(-180deg)}}@keyframes flip-horizontal-bottom{0%{-webkit-transform:rotateX(0);transform:rotateX(0)}100%{-webkit-transform:rotateX(-180deg);transform:rotateX(-180deg)}}